extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Jeff Cobb
        p I'm an aspiring Front End Web Developer.
          
        .about-bio
          p After retiring as a teacher in 2020 I stumbled around trying to figure out what was the next. That brought me to something my father onece said. "IF you like your job you never work a day of your life". I thought that it was time to follow what has become a passion, Web design. I have aspirations of becoming a Full Stack Developer. I realize that it won't be easy and that I have much more to learn, but I have never turned down a good challenge. I am a life long learner and have put together some of my work, enjoy!

      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li 910.381.2020
          li jeffcobb1206@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/cobb-jeff/' target='_blank') LinkedIn
        a.btn-link(href='https://github.com/CoachemUp' target='_blank') GitHub
       
    nav.nav
      a(href='/')
        span &larr;
        |  Back