extends layout 

block content 
    .dev-intro-box
        h1= `Server Error`
        h2= `Error status code: ${err.status} - Server Error`
        h2= `Looks like there was a problem, please try again`