<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/octhead.svg', alt='Jeff Cobb')
        .dev-intro-box

        
          h5 Jeff Cobb

         
          p  After retiring as a teacher in 2020 I stumbled around trying to figure out what was the next. That brought me to something my father onece said. "IF you like your job you never work a day of your life". I thought that it was time to follow what has become a passion, Web design. I have aspirations of becoming a Full Stack Developer. I realize that it won't be easy and that I have much more to learn, but I have never turned down a good challenge. I am a life long learner and have put together some of my work, enjoy!

        
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

        
          span Jeff Cobb

      block content



  script(src='/static/js/script.js')